<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>index</title>
    <link rel="stylesheet" href="/CSS/style.css">
  </head>
  <center>
  <h2>Welcome to my ATM</h2>
  <body style="background-color:powderblue;>
    <div class="container">
    <form action="/" method = "POST">
      <label for="fname"><b>Insert the Card</b></label>
      <input type="text" id="fname" name="fname">
      <button>Validate</button>
      <!--<a href="#" class="button">Link Button</a>-->
    </center>
    </form>
    </div>
  </body>
</html>
