<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>index</title>
    <link rel="stylesheet" href="/CSS/style.css">
  </head>
  <h2></h2>
  <body style="background-color:green;>
    <div class="container">
    <center>
    <form action="/login" method = "POST">
      <label for="fpin"><b>PIN Please...</b></label>
      <input type="text" id="fpin" name="fpin">
      <button>Validate</button>
      <!--<a href="#" class="button">Link Button</a>-->
    </center>
    </form>
    </div>
  </body>
</html>
