<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>index</title>
    <link rel="stylesheet" href="/CSS/style.css">
  </head>
  <center>
  <h2>..Change Phone Number..</h2>
  <body>
    <div class="container">
    <form action="/Phone" method = "POST">
      <label for="opin"><b>Old Contact Number</b></label>
      <input type="text" id="omobno" name="omobno"><br><br>
      <label for="npin"><b>New Contact Number</b></label>
      <input type="text" id="nmobno" name="nmobno"><br><br>
      <label for="cpin"><b>Conform Contack Number</b></label>
      <input type="text" id="cnmobno" name="cnmobno"><br><br>
      <label for="cpin"><b>Pin Plz</b></label>
      <input type="text" id="cpin" name="cpin"><br><br>
      <button>update</button>
    </center>
      <!--<a href="#" class="button">Link Button</a>-->
    </form>
    </div>
  </body>
</html>
