<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>index</title>
    <link rel="stylesheet" href="/CSS/style.css">
  </head>
  <center>
  <h2>..Change PIN..</h2>
  <body>
    <div class="container">
    <form action="/ChangePIN" method = "POST">
      <label for="opin"><b>Old PIN</b></label>
      <input type="text" id="opin" name="opin"><br><br>
      <label for="npin"><b>New PIN</b></label>
      <input type="text" id="npin" name="npin"><br><br>
      <label for="cpin"><b>Conform PIN</b></label>
      <input type="text" id="cpin" name="cpin"><br><br>
      <button>update</button>
    </center>
      <!--<a href="#" class="button">Link Button</a>-->
    </form>
    </div>
  </body>
</html>
