<html>
  <head>
    <h2><b>Search Screen</h2>
  </head>
  <body>
    <form action = "/",method="POST">
      <label for="Trx">transaction:</label>
      <input type = text name = 'Trx'>
      <label for="Order Number">Order:</label>
      <input type = text name = 'Order Number'>
      <label for="Order Code">OrderCode:</label>
      <input type = text name = 'Order Code'>
      <label for="Customer">Customer:</label>
      <input type = text name = 'Customer'><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
