<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>index</title>
    <link rel="stylesheet" href="/CSS/style.css">
  </head>
  <center>
  <h2>Withdraw Window</h2>
  <body>
    <div class="container">
    <form action="/Withdraw" method = "POST">
      <label for="bal"><b>Amount Please to Withdraw...</b></label>
      <input type="text" id="bal" name="bal">
      <button>Submit</button>
    </center>
      <!--<a href="#" class="button">Link Button</a>-->
    </form>
    </div>
  </body>
</html>
